@use '../../styles/base.scss' as *;

// 헤더

// 푸터
footer {
  background-color: $main_gray_800;
  color: $main_gray_100;
  width: 100%;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1776px;
  margin: 0 auto;
  padding: 24px 72px;
  @media (max-width: 1023px) {
    padding: 20px 16px;
    // flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

/* 왼쪽 영역 */
.footer-wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-wrapper ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.85;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }

    &:nth-child(2) {
      color: $primary_pink; // 개인정보처리방침 강조
      font-weight: 500;
    }
  }
}

.footer-wrapper p {
  font-size: 13px;
  color: #b0b6bf;
}

/* 로고 영역 */
.footer-logo {
  img {
    width: 64px;
    height: auto;
  }
}