@use '../../styles/base.scss' as *;

body {
  font-family: $font-family-inter;
}


// 헤더
.header {
  position: relative;
  z-index: 1000;


  // 1. 로그인 전  HeaderGuest

  .header-wrapper {
    position: fixed;
    top: 24px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    width: 600px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: rgba($main-white, 0.70);
    box-shadow: 0 4px 4px 0 rgba($main-black, 0.25);
    backdrop-filter: blur(10px);

    h1 {
      padding-left: 8px;
    }

    nav ul {
      display: flex;
      width: 155px;
      justify-content: center;
      align-items: center;
      gap: 36px;

      li {
        color: $main_gray_800;
        text-align: center;
        font-family: $font-family-inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        /* 177.778% */
        letter-spacing: -0.36px;
      }

    }

  }

  // 2. 로그인 후 HeaderUser
  .header-inner {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border-bottom: 1px solid $main_gray_400;
    box-shadow: 0 4px 4px 0 rgba($main-black, 0.25);

    a {
      position: relative;
      display: block;
      color: $main_gray_500;
      padding: 10px;
      font-weight: 600;
      transition: all color 0.3s ease-in-out;
    }

    a:hover {
      color: $main_gray_800;
    }

    a.active {
      border-radius: 6px;
      background: var(--Primary_Blue, #023FA1);
      box-shadow: -2px -2px 20px 0 rgba(156, 163, 175, 0.40) inset, 2px 2px 10px 0 #FFF inset, -2px -2px 10px 0 rgba(229, 231, 235, 0.20);
      color: $main-white;
      padding: 8px 12px;
    }

    // 헤더 왼쪽 
    .header-left {
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 1.25rem;

      .gnb ul {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 24px;
      }
    }


    //  가운데 검색  폼
    .search-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 450px;
      border-radius: 100px;
      background: #FFF;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
      padding: 4px 24px;

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 32px;
        /* 160% */
        letter-spacing: -0.4px;
      }

      .search-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color 0.3s ease-in-out;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }



    // 헤더 오른쪽 
    .header-right {
      display: flex;
      align-items: center;

      font-size: 1.25rem;

      .profile {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // 헤더 반응형

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-inner {
      height: 68px;

      h1 img {
        width: 65px;
      }



      a {
        font-size: 18px;
      }

      .search-form {
        // 검색 폼 반응형
        width: 300px;
        height: auto;
      }

      .header-left {
        gap: 12px;
      }

      .header-right {
        gap: 12px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: block;

    // HeaderUser
    .header-inner {
      height: 56px;
      justify-content: center; // 로고 중앙 정렬
      padding: 0 16px;

      .header-left {
        .gnb {
          display: none; // 모바일에서 메뉴 숨김
        }
      }

      .header-center {
        display: none; // 모바일에서 검색창 숨김
      }

      .header-right {
        display: none; // 모바일에서는 탭바 사용 예정이므로 프로필 숨김
      }
    }

    // HeaderGuest
    .header-wrapper {
      width: calc(100% - 48px);
      justify-content: center;

      nav {
        display: none; // 모바일에서 게스트 메뉴 숨김
      }
    }
  }
}

//헤더 끝


// 탭바 
/* 기본: 데스크탑에서는 안 보임 */
.tabbar {
  display: none;
}

/* 모바일 전용 */
@media (max-width: 767px) {
  .tabbar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 78px;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $main_gray_100;
    z-index: 100;

    .tab-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: #333;
      text-decoration: none;

      img {
        width: 28px;
        height: 28px;
        margin-bottom: 4px;
      }
    }

    &.user {
      .upload {
        position: relative;
        top: -42px;
        width: 56px;
        height: 56px;
        padding: 19px;

        // align-items: center;
        // gap: 10px;
        border-radius: 50px;
        background: var(--Primary_pink, #FF6E79);
        box-shadow: 10px 10px 10px 0 rgba(255, 255, 255, 0.48) inset, -2px -2px 10px 0 rgba(156, 163, 175, 0.40) inset, 2px 2px 10px 0 rgba(109, 114, 128, 0.40);

        img {
          
          width: 36px;
          height: 36px;
          top: -40px;
        }

        span {
          position: absolute;
          color: #ff5a5a;
          font-weight: 600;
          top: 96px;
          font-size: 14px;
        }
      }
    }
  }

  /* PC에서는 숨김 */
  @media screen and (min-width: 1024px) {
    .tabbar {
      display: none;
    }
  }




}
























// 푸터 시작
.footer {
  background-color: $main_gray_800;
  color: $main_gray_100;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1776px;
  margin: 0 auto;
  padding: 24px 72px;

  @media (max-width: 1023px) {
    padding: 20px 16px;
    // flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

/* 왼쪽 영역 */
.footer-wrapper>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-wrapper ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 14px;
    cursor: pointer;
    color: $main-white;
    opacity: 0.85;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }

    &:nth-child(2) {
      color: $primary_pink; // 개인정보처리방침 강조
      font-weight: 500;
    }
  }
}

.footer-wrapper p {
  font-size: 13px;
  color: $main_gray_400; // #9CA3AF 
}

/* 로고 영역 */
.footer-logo {
  img {
    width: 64px;
    height: auto;
  }
}