// 아카이브 scss
@use '../../styles/base.scss' as *;

/* archive.scss */
.archive {
  article {
    h2 {
      @include typo("displayMd", $bold);
      color: $main_gray_900;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 0px;
    }

    p {
      @include typo("headingMd", $regular);
      color: $main_gray_600
    }

    .filters {
      grid-column: 1 / -1;

      span {
        display: block;
        margin: 25px 0px;
        @include typo("headingMd", $medium);
        color: $main_gray_600;
      }

      .archive-navi {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        li {
          list-style: none;
        }

        button {
          border: none;
          @include btn($type: "custom",
            $size: "sm",
            $shadow: true,
            $bg: transparent,
            $color: $main_gray_800,
            $border: 1px solid $main_gray_100 );
          @include typo("bodytextXl", $medium);
          border-radius: 30px;
          cursor: pointer;

          &.active {
            background: #0047ff;
            color: #fff;
            border-color: #0047ff;
          }
        }
      }
    }

    .main_recent-archives {
      grid-column: 1 / -1;

      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 36px;
        padding-top: 40px;
        width: 100%;
      }
    }
  }
}

/* 1440 ~ 1919 (Desktop) */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .archive {
    article {
      .main_recent-archives {
        .gallery-grid {
          grid-template-columns: repeat(5, 1fr);
          gap: 32px;
        }
      }
    }
  }
}

/* 1024 ~ 1439 — Tablet Landscape / Small Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .archive {
    article {
      .main_recent-archives {
        .gallery-grid {
          grid-template-columns: repeat(4, 1fr);
          gap: 24px;
        }
      }
    }
  }
}

/* 768 ~ 1023px (TABLET) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .archive {
    article {
      .main_recent-archives {
        .gallery-grid {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      }
    }
  }
}

/* 0 ~ 767px (MOBILE) */
@media screen and (max-width: 767px) {
  .archive {
    article {
      .main_recent-archives {
        .gallery-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
  }
}