// 아카이브 scss
@use '../../styles/base' as *;

//archive.scss
.archive {

  article {

    h2 {
      @include typo("displayMd", $bold);
      color: $main_gray_900;
    }

    p {
      @include typo("headingMd", $regular);
      color: $main_gray_600
    }

    .filters {
      grid-column: 1 / -1;

      span {
        display: block;
        margin: 25px 0px;
        @include typo("headingMd", $medium);
        color: $main_gray_600;
      }

      .archive-navi {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        >li {
          @include btn($type: "custom",
            $shadow: true,
            $bg: transparent,
            $color: $main_gray_800,
            $border: 1px solid $main_gray_300 );
          border-radius: 30px;
        }
      }
    }
  }
}

//detail.scss

//detail 카드 형식 
.card-box {
  border: 1px solid $main_gray_400;
  border-radius: 12px;
  padding: 16px 30px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.detail {
  .detail_box {
    .detail-box_left {
      border: 1px solid $main_gray_300;
      border-radius: 16px;
      padding: 50px;
      display: flex;
      flex-direction: column;

      a {
        cursor: pointer;
        display: block;
        padding: 10px 0px;
      }

      h2 {
        @include typo("displayMd", $bold);
        color: $main_gray_900;
        padding-bottom: 10px;
      }

      p {
        @include typo("headingMd", $regular);
        color: $main_gray_600;
        padding-bottom: 20px;
      }

      .desc-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .user-badge {
          display: inline-flex;
          align-items: center;
          gap: 8px;

          padding: 6px 12px;
          border: 1px solid $main_gray_400;
          border-radius: 999px;

          background: #fff;
          font-size: 14px;
          color: #333;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
          }
        }
      }

      .badge-btn {
        display: flex;
        gap: 10px;

        >li {
          @include btn($size: "sm",
            $type: "custom",
            $shadow: true,
            $bg: transparent,
            $color: $main_gray_800,
            $border: 1px solid $main_gray_300 );
          border-radius: 30px;
        }
      }

      .img_box {
        padding: 50px 0px;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

    }

    .detail-box_right {
      box-sizing: border-box;
      padding: 50px 24px;
      border: 1px solid $main_gray_300;
      border-radius: 16px;

      .pin-label {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        @include typo("headingMd", $bold);
        color: $main_gray_800; 
        
        .pin-badge {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          padding:2px 10px;
          background:$primary_pink;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          flex-shrink:0;
        }
      }

      span {
        @include typo("bodytextLg", $regular);
        color: $main_gray_600
      }

      .box-right_card {
        width: 100%;

        ul {
          width: 100%;

          li:first-child {
            @include typo("bodytextLg", $bold);
            color: $main_gray_600;
            margin-bottom: 30px;
          }

          li:not(:first-child) {
            @extend .card-box;
            @include typo("bodytextMd", $regular);
            color: $main_gray_800;

            span {
              font-size: 13px;
            }
          }
        }

        textarea {
          width: 100%;
          min-height: 120px;

          font-family: inherit;
          font-size: inherit;
          line-height: 1.6;

          resize: none;
          outline: none;
          background: transparent;

          border: 1px solid $main_gray_400;
        }

        button {
          @include btn($type: "custom",
            $shadow: true,
            $bg: $primary_blue,
            $color: $main-white,
          );
          margin-top: 30px;
          width: 100%;
          border: none;
          /* typo 덮어쓰기 */
          font: inherit;
        }
      }

      .box-right_memo {
        padding: 0px 10px;

        p {
          @include typo("bodytextLg", $bold);
          color: $main_gray_600
        }

        textarea {
          margin-top: 30px;
          width: 100%;
          min-height: 120px;

          font-family: inherit;
          font-size: inherit;
          line-height: 1.6;

          resize: none;
          outline: none;
          background: transparent;

          border: 1px solid $main_gray_400;
        }

        button {
          @include btn($type: "custom",
            $shadow: true,
            $bg: $primary_blue,
            $color: $main-white,
          );
          margin-top: 30px;
          width: 100%;
          border: none;
          /* typo 덮어쓰기 */
          font: inherit;
        }
      }
    }
  }
}
