@use '../../styles/base.scss' as *;
/*공통 서식*/
//select
.custom-select {
  position: relative;
  width: 100%;
  padding: 18px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  @include neumorphism-shadow;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .selected {
    @include typo("headingMd", $regular);
    color: $main_gray_800;
  }

  .arrow {
    font-size: 14px;
    color: $main_gray_600;
  }

  .options {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
    @include neumorphism-shadow;
    z-index: 99;

    li {
      padding: 12px 20px;
      cursor: pointer;
      @include typo("headingMd", $regular);
      color: $main_gray_700;

      &:hover {
        background: $main_gray_100;
      }
    }
  }
}
//입력창
.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  label{ @include typo("headingMd", $regular); }

  input{
    width: 100%;
    height: 70px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    @include typo("headingMd", $regular);  
    @include neumorphism-shadow;
    &::placeholder {
      @include typo("headingMd", $regular);  
      color: $main_gray_400;       
    }
  }
  .password-wrapper{
    position: relative;
    .eye-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  }
}



button[type="submit"] {
  @include btn("md", "fixed");
  border: none;
  width: 100%;
}

section{
  .grid{
    h2{
      padding: 70px 0;
      @include typo("displaySm", $bold);
      color: $primary_mint;
      text-align: center;
    }

    .social-login{
      display: flex;
      justify-content: space-around;
      padding: 40px 90px;
    }
  }
}
//login 서식
.login_section{
  .login_form{
      a{
        margin: 20px 0;
        display: block;     
        text-align: right;     
        color: $primary_blue;
        border-bottom: 1px solid $primary_blue;
        width: fit-content;    
        margin-left: auto; 
      }
    }
      .login_bottom{
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      gap: 20px;
      text-align: center;

      a{
        border-bottom: 1px solid $main_gray_800;
        align-self: center;
      }
    }
}
//signup 서식
.signup_section{
  .divider {
  display: flex;
  align-items: center;
  gap: 12px; // 선과 글자 사이 여백

  span {
    white-space: nowrap; // 줄바꿈 방지
    @include typo("headingSm", $regular);
    color: $main_gray_800;
  }

  &::before,
  &::after {
    content: "";
    flex: 1;               // 선을 양쪽으로 쭉 늘리기
    height: 1px;
    background: $main_gray_800;
  }
}
  button[type="submit"]{
    margin: 40px 0px;
  }
}

//반응형 서식
// @media (min-width: 1024px) {
//   section .grid .col-4{
//     grid-column: 5 / span 4;
//   }
// }
