// 질문과 답변 scss
@use '../../styles/base.scss' as *;

/* qna.scss */
.qna {
  section {
    padding: 80px 0;

    .qna-table-wrap {
      margin-top: 30px;
      grid-column: 1 / -1;
      border-radius: 12px;
      background: $main_gray_100;
      box-shadow:
        6px 6px 12px rgba(0, 0, 0, 0.15);

      .qna-table {

        width: 100%;

        thead {

          th {
            padding: 20px 0px;
            border-bottom: 1px solid $main_gray_300;
          }
        }

        tbody {
          .qna-row {
            line-height: 32px;
            td:first-child {
              padding-top: 10px;
            }
            td:not(:nth-child(2)) {
              text-align: center;
            }
            td:nth-child(2) {
              text-indent: 30px;
            }
          }

          .qna-answer-row {
            td {
              .qna-answer {
                text-indent: 30px;
                padding: 30px 0px;
                background: $primary_blue;
                color: $main-white;
                border-radius: 12px;
              }
            }
          }
        }
      }

      .btn_wrapper {
        width: 100%;
        text-align: center;
        padding: 10px 0px;

        .btn_more {
          @include btn("sm", "primary", true, $primary_blue, $main-white, $hover: false);
        }
      }
    }
  }
}